<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <title>Mata Mosquito</title>
    <link rel="stylesheet" type="text/css" href="../CSS/estilo.css">
    <script src='../JS/config.js'></script>
</head>
<body onresize="tela()">
    <div class="painel">
        <div class="vidas">
            <img id="v1" src="../IMG/coracao_cheio.png">
            <img id="v2" src="../IMG/coracao_cheio.png">
            <img id="v3" src="../IMG/coracao_cheio.png">
        </div>

        <div class="tempo">
            Tempo Restante:
            <span id="cronometro"></span>
        </div>

        <div class="tempo">
            Pontos:
            <span id="pontos"></span>
        </div>

    </div>

    <script>
        document.getElementById('cronometro').innerHTML = tempo
        document.getElementById('pontos').innerHTML = ponto
        var criaMosca = setInterval(function() {
            criarMosquito()
        }, 1000)
    </script>
</body>
</html>